/*em relação á imagem de fundo, eu coloquei essa aleatoriamente, 
minha ideia é fazer uma colagem com a logo que foi criada pra colocar de background e depois mudar as cores
pra combinar com a main da página, só fiz essa página de login pq tive a ideia e quis fazer, 
mas a gente usa outra caso alguém faça uma mais bonitinha*/

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 15", sans-serif;
    font-size: 18px;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img2/d3c2fbe4e86321bba8fef0c0ea692986.jpg);
    background-size: cover;
    background-position: center;
    }


.container {
  background-color: hsl(207, 43%, 52%); 
  padding: 60px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgb(1, 58, 9);box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
  width: 200%;
  max-width: 500px;
  color: #f3a108;
}

.container h1{
    text-align: center;
    font-size: 30px; 
}


.input-box{
    position: relative;
    margin: 30px,0;
    width: 100%;
    height: 50px;
}  


.input-box input{
    width: 100%;
    height: 70%;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 20px 45px 20px 20px;
    color: black;
}


.input-box i{
    position: absolute;
    height: 20px;
    top: 18%;
    font-size: 25px;
    transform: translate(-120%);
}


.remember-forgot {
    justify-content: space-between;
    display: flex;
    margin: -15px, 0, 15px;
}


.remember-forgot label input{
    accent-color:#f3a108;
    margin-right: 15px;
    margin-bottom: 20px;

}


.container button{
    border-radius: 25px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    color: rgb(75, 73, 73);
    font-weight: 600px;
    box-shadow: 0 0 7px 
}


.container button:hover {
    border: 2px;
    transition: 5s;
}


.register-link{
    font-size: 12px;
    text-align: center;
    margin: 15px 0 15px;
}


.register-link a {
    text-decoration: none;
    color: #f3a108;
    font-weight: 500px;
}


.register-link a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}



 

    
